/*---------------------------------------------------------------------------
  Template: Web Studio Solutions - Template Sass Files Structure
  Author: Theme_Author_Name
  Version: Theme_Version@1.0
----------------------------------------------------------------------------*/
/*---------------------------------
-------------- general -------------
---------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700");
html, html a, body {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #f9fbfd;
  color: #53535f;
  line-height: 1.5;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2a2a2a;
  font-weight: normal;
  line-height: 1.5;
  font-weight: 500;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: 300;
  color: #373737;
}

h1,
.h1 {
  font-size: 30px;
}

h2,
.h2 {
  font-size: 24px;
}

h3,
.h3 {
  font-size: 22px;
}

h4,
.h4 {
  font-size: 19px;
}

h5,
.h5 {
  font-size: 16px;
}

h6,
.h6 {
  font-size: 14px;
}

p {
  color: #72849a;
  line-height: 1.8;
  margin-bottom: 10px;
}

ul {
  margin-bottom: 0px;
}

a {
  color: #3f87f5;
}
a:hover, a:focus {
  text-decoration: none;
  color: #0f69f2;
}
a:focus {
  outline: none;
}
a.text-gray:hover, a.text-gray:focus {
  color: #2a2a2a !important;
}
a.text-gray.active {
  color: #3f87f5 !important;
}
a.text-dark:hover, a.text-dark:focus {
  color: #3f87f5 !important;
}
a.text-dark.active {
  color: #3f87f5 !important;
}
a.text-muted:hover, a.text-muted:focus {
  color: #2a2a2a !important;
}
a.text-muted.active {
  color: #3f87f5 !important;
}
a.hover-opacity:hover {
  opacity: 0.8;
}

.display-1,
.display-2,
.display-3,
.display-4 {
  color: #2a2a2a;
}

:focus {
  outline: none;
}

hr {
  border-top: 1px solid #edf2f9;
  margin-top: 24px;
  margin-bottom: 24px;
}

.font-primary {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-link:hover, .text-link:focus {
  text-decoration: underline;
}

.text-opacity {
  opacity: 0.85;
}

.text-white {
  color: #fff !important;
}

.text-dark {
  color: #2a2a2a !important;
}

.text-gray {
  color: #72849a !important;
}

.text-primary {
  color: #3f87f5 !important;
}

.text-secondary {
  color: #886cff !important;
}

.text-success {
  color: #00c9a7 !important;
}

.text-info {
  color: #02d3ef !important;
}

.text-warning {
  color: #ffc107 !important;
}

.text-danger {
  color: #de4436 !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-dark {
  background-color: #2a2a2a !important;
}

.bg-gray {
  background-color: #53535f !important;
}

.bg-primary {
  background-color: #3f87f5 !important;
}

.bg-secondary {
  background-color: #886cff !important;
}

.bg-success {
  background-color: #00c9a7 !important;
}

.bg-info {
  background-color: #02d3ef !important;
}

.bg-warning {
  background-color: #ffc107 !important;
}

.bg-danger {
  background-color: #de4436 !important;
}

.img-fit-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.container-fluid.container-fixed-lg {
  max-width: 1700px;
}
.container-fluid.container-fixed-md {
  max-width: 1400px;
}
.container-fluid.container-fixed-sm {
  max-width: 1280px;
}

button,
input,
textarea {
  outline: none;
}

blockquote {
  border-left: 3px solid #2a2a2a;
  padding-left: 30px;
  position: relative;
  font-family: serif;
  font-style: italic;
}

.blockquote-footer {
  color: #2a2a2a;
}

dt {
  color: #2a2a2a;
  font-weight: 500;
}

dd {
  margin-bottom: 10px;
}

.fade.in {
  opacity: 1;
}

.collapse.in {
  display: block;
}

iframe {
  border: 0;
}
@media only screen and (max-width: 767px) {
  iframe {
    min-height: 175px !important;
    height: auto;
  }
}

.close {
  font-size: 18px;
}

@media print {
  body {
    font-size: 10px;
  }

  .mrg-top-30,
.mrg-top-20 {
    margin-top: 15px !important;
  }

  .print-invisible {
    display: none;
  }
}
/* ------ padding----- */
.p-5 {
  padding: 5px !important;
}

.p-10 {
  padding: 10px !important;
}

.p-15 {
  padding: 15px !important;
}

.p-20 {
  padding: 20px !important;
}

.p-25 {
  padding: 25px !important;
}

.p-30 {
  padding: 30px !important;
}

.p-35 {
  padding: 35px !important;
}

.p-40 {
  padding: 40px !important;
}

.p-45 {
  padding: 45px !important;
}

.p-50 {
  padding: 50px !important;
}

.p-55 {
  padding: 55px !important;
}

.p-60 {
  padding: 60px !important;
}

.p-65 {
  padding: 65px !important;
}

.p-70 {
  padding: 70px !important;
}

.p-75 {
  padding: 75px !important;
}

.p-80 {
  padding: 80px !important;
}

.p-85 {
  padding: 85px !important;
}

.p-90 {
  padding: 90px !important;
}

.p-95 {
  padding: 95px !important;
}

.p-100 {
  padding: 100px !important;
}

.p-105 {
  padding: 105px !important;
}

.p-110 {
  padding: 110px !important;
}

.p-115 {
  padding: 115px !important;
}

.p-120 {
  padding: 120px !important;
}

.p-125 {
  padding: 125px !important;
}

.p-130 {
  padding: 130px !important;
}

.p-135 {
  padding: 135px !important;
}

.p-140 {
  padding: 140px !important;
}

.p-145 {
  padding: 145px !important;
}

.p-150 {
  padding: 150px !important;
}

/* ------ padding top----- */
.p-t-5 {
  padding-top: 5px !important;
}

.p-t-10 {
  padding-top: 10px !important;
}

.p-t-15 {
  padding-top: 15px !important;
}

.p-t-20 {
  padding-top: 20px !important;
}

.p-t-25 {
  padding-top: 25px !important;
}

.p-t-30 {
  padding-top: 30px !important;
}

.p-t-35 {
  padding-top: 35px !important;
}

.p-t-40 {
  padding-top: 40px !important;
}

.p-t-45 {
  padding-top: 45px !important;
}

.p-t-50 {
  padding-top: 50px !important;
}

.p-t-55 {
  padding-top: 55px !important;
}

.p-t-60 {
  padding-top: 60px !important;
}

.p-t-65 {
  padding-top: 65px !important;
}

.p-t-70 {
  padding-top: 70px !important;
}

.p-t-75 {
  padding-top: 75px !important;
}

.p-t-80 {
  padding-top: 80px !important;
}

.p-t-85 {
  padding-top: 85px !important;
}

.p-t-90 {
  padding-top: 90px !important;
}

.p-t-95 {
  padding-top: 95px !important;
}

.p-t-100 {
  padding-top: 100px !important;
}

.p-t-105 {
  padding-top: 105px !important;
}

.p-t-110 {
  padding-top: 110px !important;
}

.p-t-115 {
  padding-top: 115px !important;
}

.p-t-120 {
  padding-top: 120px !important;
}

.p-t-125 {
  padding-top: 125px !important;
}

.p-t-130 {
  padding-top: 130px !important;
}

.p-t-135 {
  padding-top: 135px !important;
}

.p-t-140 {
  padding-top: 140px !important;
}

.p-t-145 {
  padding-top: 145px !important;
}

.p-t-150 {
  padding-top: 150px !important;
}

/* ------ padding bottom----- */
.p-b-5 {
  padding-bottom: 5px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.p-b-15 {
  padding-bottom: 15px !important;
}

.p-b-20 {
  padding-bottom: 20px !important;
}

.p-b-25 {
  padding-bottom: 25px !important;
}

.p-b-30 {
  padding-bottom: 30px !important;
}

.p-b-35 {
  padding-bottom: 35px !important;
}

.p-b-40 {
  padding-bottom: 40px !important;
}

.p-b-45 {
  padding-bottom: 45px !important;
}

.p-b-50 {
  padding-bottom: 50px !important;
}

.p-b-55 {
  padding-bottom: 55px !important;
}

.p-b-60 {
  padding-bottom: 60px !important;
}

.p-b-65 {
  padding-bottom: 65px !important;
}

.p-b-70 {
  padding-bottom: 70px !important;
}

.p-b-75 {
  padding-bottom: 75px !important;
}

.p-b-80 {
  padding-bottom: 80px !important;
}

.p-b-85 {
  padding-bottom: 85px !important;
}

.p-b-90 {
  padding-bottom: 90px !important;
}

.p-b-95 {
  padding-bottom: 95px !important;
}

.p-b-100 {
  padding-bottom: 100px !important;
}

.p-b-105 {
  padding-bottom: 105px !important;
}

.p-b-110 {
  padding-bottom: 110px !important;
}

.p-b-115 {
  padding-bottom: 115px !important;
}

.p-b-120 {
  padding-bottom: 120px !important;
}

.p-b-125 {
  padding-bottom: 125px !important;
}

.p-b-130 {
  padding-bottom: 130px !important;
}

.p-b-135 {
  padding-bottom: 135px !important;
}

.p-b-140 {
  padding-bottom: 140px !important;
}

.p-b-145 {
  padding-bottom: 145px !important;
}

.p-b-150 {
  padding-bottom: 150px !important;
}

/* --- padding horizontal---- */
.p-x-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.p-x-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.p-x-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.p-x-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.p-x-25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.p-x-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.p-x-35 {
  padding-left: 35px !important;
  padding-right: 35px !important;
}

.p-x-40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.p-x-45 {
  padding-left: 45px !important;
  padding-right: 45px !important;
}

.p-x-50 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.p-x-55 {
  padding-left: 55px !important;
  padding-right: 55px !important;
}

.p-x-60 {
  padding-left: 60px !important;
  padding-right: 60px !important;
}

.p-x-65 {
  padding-left: 65px !important;
  padding-right: 65px !important;
}

.p-x-70 {
  padding-left: 70px !important;
  padding-right: 70px !important;
}

.p-x-75 {
  padding-left: 75px !important;
  padding-right: 75px !important;
}

.p-x-80 {
  padding-left: 80px !important;
  padding-right: 80px !important;
}

.p-x-85 {
  padding-left: 85px !important;
  padding-right: 85px !important;
}

.p-x-90 {
  padding-left: 90px !important;
  padding-right: 90px !important;
}

.p-x-95 {
  padding-left: 95px !important;
  padding-right: 95px !important;
}

.p-x-100 {
  padding-left: 100px !important;
  padding-right: 100px !important;
}

.p-x-105 {
  padding-left: 105px !important;
  padding-right: 105px !important;
}

.p-x-110 {
  padding-left: 110px !important;
  padding-right: 110px !important;
}

.p-x-115 {
  padding-left: 115px !important;
  padding-right: 115px !important;
}

.p-x-120 {
  padding-left: 120px !important;
  padding-right: 120px !important;
}

.p-x-125 {
  padding-left: 125px !important;
  padding-right: 125px !important;
}

.p-x-130 {
  padding-left: 130px !important;
  padding-right: 130px !important;
}

.p-x-135 {
  padding-left: 135px !important;
  padding-right: 135px !important;
}

.p-x-140 {
  padding-left: 140px !important;
  padding-right: 140px !important;
}

.p-x-145 {
  padding-left: 145px !important;
  padding-right: 145px !important;
}

.p-x-150 {
  padding-left: 150px !important;
  padding-right: 150px !important;
}

/* ---- padding vertical----- */
.p-y-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.p-y-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.p-y-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.p-y-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.p-y-25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.p-y-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.p-y-35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

.p-y-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.p-y-45 {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
}

.p-y-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.p-y-55 {
  padding-top: 55px !important;
  padding-bottom: 55px !important;
}

.p-y-60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.p-y-65 {
  padding-top: 65px !important;
  padding-bottom: 65px !important;
}

.p-y-70 {
  padding-top: 70px !important;
  padding-bottom: 70px !important;
}

.p-y-75 {
  padding-top: 75px !important;
  padding-bottom: 75px !important;
}

.p-y-80 {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}

.p-y-85 {
  padding-top: 85px !important;
  padding-bottom: 85px !important;
}

.p-y-90 {
  padding-top: 90px !important;
  padding-bottom: 90px !important;
}

.p-y-95 {
  padding-top: 95px !important;
  padding-bottom: 95px !important;
}

.p-y-100 {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

.p-y-105 {
  padding-top: 105px !important;
  padding-bottom: 105px !important;
}

.p-y-110 {
  padding-top: 110px !important;
  padding-bottom: 110px !important;
}

.p-y-115 {
  padding-top: 115px !important;
  padding-bottom: 115px !important;
}

.p-y-120 {
  padding-top: 120px !important;
  padding-bottom: 120px !important;
}

.p-y-125 {
  padding-top: 125px !important;
  padding-bottom: 125px !important;
}

.p-y-130 {
  padding-top: 130px !important;
  padding-bottom: 130px !important;
}

.p-y-135 {
  padding-top: 135px !important;
  padding-bottom: 135px !important;
}

.p-y-140 {
  padding-top: 140px !important;
  padding-bottom: 140px !important;
}

.p-y-145 {
  padding-top: 145px !important;
  padding-bottom: 145px !important;
}

.p-y-150 {
  padding-top: 150px !important;
  padding-bottom: 150px !important;
}

/* --------------------------- */
/* --------- MARGIN --------- */
/* --------------------------- */
/* --------- margin ----- */
.m-5 {
  margin: 5px !important;
}

.m-10 {
  margin: 10px !important;
}

.m-15 {
  margin: 15px !important;
}

.m-20 {
  margin: 20px !important;
}

.m-25 {
  margin: 25px !important;
}

.m-30 {
  margin: 30px !important;
}

.m-35 {
  margin: 35px !important;
}

.m-40 {
  margin: 40px !important;
}

.m-45 {
  margin: 45px !important;
}

.m-50 {
  margin: 50px !important;
}

.m-55 {
  margin: 55px !important;
}

.m-60 {
  margin: 60px !important;
}

.m-65 {
  margin: 65px !important;
}

.m-70 {
  margin: 70px !important;
}

.m-75 {
  margin: 75px !important;
}

.m-80 {
  margin: 80px !important;
}

.m-85 {
  margin: 85px !important;
}

.m-90 {
  margin: 90px !important;
}

.m-95 {
  margin: 95px !important;
}

.m-100 {
  margin: 100px !important;
}

.m-105 {
  margin: 105px !important;
}

.m-110 {
  margin: 110px !important;
}

.m-115 {
  margin: 115px !important;
}

.m-120 {
  margin: 120px !important;
}

.m-125 {
  margin: 125px !important;
}

.m-130 {
  margin: 130px !important;
}

.m-135 {
  margin: 135px !important;
}

.m-140 {
  margin: 140px !important;
}

.m-145 {
  margin: 145px !important;
}

.m-150 {
  margin: 150px !important;
}

/* ---- margin horizontal----- */
.m-x-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.m-x-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.m-x-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.m-x-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.m-x-25 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.m-x-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.m-x-35 {
  margin-left: 35px !important;
  margin-right: 35px !important;
}

.m-x-40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.m-x-45 {
  margin-left: 45px !important;
  margin-right: 45px !important;
}

.m-x-50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.m-x-55 {
  margin-left: 55px !important;
  margin-right: 55px !important;
}

.m-x-60 {
  margin-left: 60px !important;
  margin-right: 60px !important;
}

.m-x-65 {
  margin-left: 65px !important;
  margin-right: 65px !important;
}

.m-x-70 {
  margin-left: 70px !important;
  margin-right: 70px !important;
}

.m-x-75 {
  margin-left: 75px !important;
  margin-right: 75px !important;
}

.m-x-80 {
  margin-left: 80px !important;
  margin-right: 80px !important;
}

.m-x-85 {
  margin-left: 85px !important;
  margin-right: 85px !important;
}

.m-x-90 {
  margin-left: 90px !important;
  margin-right: 90px !important;
}

.m-x-95 {
  margin-left: 95px !important;
  margin-right: 95px !important;
}

.m-x-100 {
  margin-left: 100px !important;
  margin-right: 100px !important;
}

.m-x-105 {
  margin-left: 105px !important;
  margin-right: 105px !important;
}

.m-x-110 {
  margin-left: 110px !important;
  margin-right: 110px !important;
}

.m-x-115 {
  margin-left: 115px !important;
  margin-right: 115px !important;
}

.m-x-120 {
  margin-left: 120px !important;
  margin-right: 120px !important;
}

.m-x-125 {
  margin-left: 125px !important;
  margin-right: 125px !important;
}

.m-x-130 {
  margin-left: 130px !important;
  margin-right: 130px !important;
}

.m-x-135 {
  margin-left: 135px !important;
  margin-right: 135px !important;
}

.m-x-140 {
  margin-left: 140px !important;
  margin-right: 140px !important;
}

.m-x-145 {
  margin-left: 145px !important;
  margin-right: 145px !important;
}

.m-x-150 {
  margin-left: 150px !important;
  margin-right: 150px !important;
}

/* ------ margin vertical----- */
.m-y-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.m-y-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.m-y-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.m-y-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.m-y-25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.m-y-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.m-y-35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}

.m-y-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.m-y-45 {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}

.m-y-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.m-y-55 {
  margin-top: 55px !important;
  margin-bottom: 55px !important;
}

.m-y-60 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

.m-y-65 {
  margin-top: 65px !important;
  margin-bottom: 65px !important;
}

.m-y-70 {
  margin-top: 70px !important;
  margin-bottom: 70px !important;
}

.m-y-75 {
  margin-top: 75px !important;
  margin-bottom: 75px !important;
}

.m-y-80 {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}

.m-y-85 {
  margin-top: 85px !important;
  margin-bottom: 85px !important;
}

.m-y-90 {
  margin-top: 90px !important;
  margin-bottom: 90px !important;
}

.m-y-95 {
  margin-top: 95px !important;
  margin-bottom: 95px !important;
}

.m-y-100 {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}

.m-y-105 {
  margin-top: 105px !important;
  margin-bottom: 105px !important;
}

.m-y-110 {
  margin-top: 110px !important;
  margin-bottom: 110px !important;
}

.m-y-115 {
  margin-top: 115px !important;
  margin-bottom: 115px !important;
}

.m-y-120 {
  margin-top: 120px !important;
  margin-bottom: 120px !important;
}

.m-y-125 {
  margin-top: 125px !important;
  margin-bottom: 125px !important;
}

.m-y-130 {
  margin-top: 130px !important;
  margin-bottom: 130px !important;
}

.m-y-135 {
  margin-top: 135px !important;
  margin-bottom: 135px !important;
}

.m-y-140 {
  margin-top: 140px !important;
  margin-bottom: 140px !important;
}

.m-y-145 {
  margin-top: 145px !important;
  margin-bottom: 145px !important;
}

.m-y-150 {
  margin-top: 150px !important;
  margin-bottom: 150px !important;
}

/* ------ margin top----- */
.m-t-5 {
  margin-top: 5px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-t-15 {
  margin-top: 15px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-t-25 {
  margin-top: 25px !important;
}

.m-t-30 {
  margin-top: 30px !important;
}

.m-t-35 {
  margin-top: 35px !important;
}

.m-t-40 {
  margin-top: 40px !important;
}

.m-t-45 {
  margin-top: 45px !important;
}

.m-t-50 {
  margin-top: 50px !important;
}

.m-t-55 {
  margin-top: 55px !important;
}

.m-t-60 {
  margin-top: 60px !important;
}

.m-t-65 {
  margin-top: 65px !important;
}

.m-t-70 {
  margin-top: 70px !important;
}

.m-t-75 {
  margin-top: 75px !important;
}

.m-t-80 {
  margin-top: 80px !important;
}

.m-t-85 {
  margin-top: 85px !important;
}

.m-t-90 {
  margin-top: 90px !important;
}

.m-t-95 {
  margin-top: 95px !important;
}

.m-t-100 {
  margin-top: 100px !important;
}

.m-t-105 {
  margin-top: 105px !important;
}

.m-t-110 {
  margin-top: 110px !important;
}

.m-t-115 {
  margin-top: 115px !important;
}

.m-t-120 {
  margin-top: 120px !important;
}

.m-t-125 {
  margin-top: 125px !important;
}

.m-t-130 {
  margin-top: 130px !important;
}

.m-t-135 {
  margin-top: 135px !important;
}

.m-t-140 {
  margin-top: 140px !important;
}

.m-t-145 {
  margin-top: 145px !important;
}

.m-t-150 {
  margin-top: 150px !important;
}

/* ------ margin bottom----- */
.m-b-5 {
  margin-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-b-15 {
  margin-bottom: 15px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-b-25 {
  margin-bottom: 25px !important;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

.m-b-35 {
  margin-bottom: 35px !important;
}

.m-b-40 {
  margin-bottom: 40px !important;
}

.m-b-45 {
  margin-bottom: 45px !important;
}

.m-b-50 {
  margin-bottom: 50px !important;
}

.m-b-55 {
  margin-bottom: 55px !important;
}

.m-b-60 {
  margin-bottom: 60px !important;
}

.m-b-65 {
  margin-bottom: 65px !important;
}

.m-b-70 {
  margin-bottom: 70px !important;
}

.m-b-75 {
  margin-bottom: 75px !important;
}

.m-b-80 {
  margin-bottom: 80px !important;
}

.m-b-85 {
  margin-bottom: 85px !important;
}

.m-b-90 {
  margin-bottom: 90px !important;
}

.m-b-95 {
  margin-bottom: 95px !important;
}

.m-b-100 {
  margin-bottom: 100px !important;
}

.m-b-105 {
  margin-bottom: 105px !important;
}

.m-b-110 {
  margin-bottom: 110px !important;
}

.m-b-115 {
  margin-bottom: 115px !important;
}

.m-b-120 {
  margin-bottom: 120px !important;
}

.m-b-125 {
  margin-bottom: 125px !important;
}

.m-b-130 {
  margin-bottom: 130px !important;
}

.m-b-135 {
  margin-bottom: 135px !important;
}

.m-b-140 {
  margin-bottom: 140px !important;
}

.m-b-145 {
  margin-bottom: 145px !important;
}

.m-b-150 {
  margin-bottom: 150px !important;
}

/* --------------------------- */
/* --------- WIDTH --------- */
/* --------------------------- */
/*---------------------------------
------------ Custom CSS -----------
---------------------------------*/
