/* ------------------------------------------ */
/* - padding -------------------------------- */
/* ------------------------------------------ */
.p-0 {
  padding: 0px !important;
}

.p-5 {
  padding: 5px !important;
}

.p-10 {
  padding: 10px !important;
}

.p-15 {
  padding: 15px !important;
}

.p-20 {
  padding: 20px !important;
}

.p-25 {
  padding: 25px !important;
}

.p-30 {
  padding: 30px !important;
}

.p-35 {
  padding: 35px !important;
}

.p-40 {
  padding: 40px !important;
}

.p-45 {
  padding: 45px !important;
}

.p-50 {
  padding: 50px !important;
}

.p-55 {
  padding: 55px !important;
}

.p-60 {
  padding: 60px !important;
}

.p-65 {
  padding: 65px !important;
}

.p-70 {
  padding: 70px !important;
}

.p-75 {
  padding: 75px !important;
}

.p-80 {
  padding: 80px !important;
}

.p-85 {
  padding: 85px !important;
}

.p-90 {
  padding: 90px !important;
}

.p-95 {
  padding: 95px !important;
}

.p-100 {
  padding: 100px !important;
}

.p-105 {
  padding: 105px !important;
}

.p-110 {
  padding: 110px !important;
}

.p-115 {
  padding: 115px !important;
}

.p-120 {
  padding: 120px !important;
}

.p-125 {
  padding: 125px !important;
}

.p-130 {
  padding: 130px !important;
}

.p-135 {
  padding: 135px !important;
}

.p-140 {
  padding: 140px !important;
}

.p-145 {
  padding: 145px !important;
}

.p-150 {
  padding: 150px !important;
}

/* ------------------------------------------ */
/* - padding top ---------------------------- */
/* ------------------------------------------ */
.p-t-0 {
  padding-top: 0px !important;
}

.p-t-5 {
  padding-top: 5px !important;
}

.p-t-10 {
  padding-top: 10px !important;
}

.p-t-15 {
  padding-top: 15px !important;
}

.p-t-20 {
  padding-top: 20px !important;
}

.p-t-25 {
  padding-top: 25px !important;
}

.p-t-30 {
  padding-top: 30px !important;
}

.p-t-35 {
  padding-top: 35px !important;
}

.p-t-40 {
  padding-top: 40px !important;
}

.p-t-45 {
  padding-top: 45px !important;
}

.p-t-50 {
  padding-top: 50px !important;
}

.p-t-55 {
  padding-top: 55px !important;
}

.p-t-60 {
  padding-top: 60px !important;
}

.p-t-65 {
  padding-top: 65px !important;
}

.p-t-70 {
  padding-top: 70px !important;
}

.p-t-75 {
  padding-top: 75px !important;
}

.p-t-80 {
  padding-top: 80px !important;
}

.p-t-85 {
  padding-top: 85px !important;
}

.p-t-90 {
  padding-top: 90px !important;
}

.p-t-95 {
  padding-top: 95px !important;
}

.p-t-100 {
  padding-top: 100px !important;
}

.p-t-105 {
  padding-top: 105px !important;
}

.p-t-110 {
  padding-top: 110px !important;
}

.p-t-115 {
  padding-top: 115px !important;
}

.p-t-120 {
  padding-top: 120px !important;
}

.p-t-125 {
  padding-top: 125px !important;
}

.p-t-130 {
  padding-top: 130px !important;
}

.p-t-135 {
  padding-top: 135px !important;
}

.p-t-140 {
  padding-top: 140px !important;
}

.p-t-145 {
  padding-top: 145px !important;
}

.p-t-150 {
  padding-top: 150px !important;
}

/* ------------------------------------------ */
/* - padding bottom ------------------------- */
/* ------------------------------------------ */
.p-b-0 {
  padding-bottom: 0px !important;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.p-b-15 {
  padding-bottom: 15px !important;
}

.p-b-20 {
  padding-bottom: 20px !important;
}

.p-b-25 {
  padding-bottom: 25px !important;
}

.p-b-30 {
  padding-bottom: 30px !important;
}

.p-b-35 {
  padding-bottom: 35px !important;
}

.p-b-40 {
  padding-bottom: 40px !important;
}

.p-b-45 {
  padding-bottom: 45px !important;
}

.p-b-50 {
  padding-bottom: 50px !important;
}

.p-b-55 {
  padding-bottom: 55px !important;
}

.p-b-60 {
  padding-bottom: 60px !important;
}

.p-b-65 {
  padding-bottom: 65px !important;
}

.p-b-70 {
  padding-bottom: 70px !important;
}

.p-b-75 {
  padding-bottom: 75px !important;
}

.p-b-80 {
  padding-bottom: 80px !important;
}

.p-b-85 {
  padding-bottom: 85px !important;
}

.p-b-90 {
  padding-bottom: 90px !important;
}

.p-b-95 {
  padding-bottom: 95px !important;
}

.p-b-100 {
  padding-bottom: 100px !important;
}

.p-b-105 {
  padding-bottom: 105px !important;
}

.p-b-110 {
  padding-bottom: 110px !important;
}

.p-b-115 {
  padding-bottom: 115px !important;
}

.p-b-120 {
  padding-bottom: 120px !important;
}

.p-b-125 {
  padding-bottom: 125px !important;
}

.p-b-130 {
  padding-bottom: 130px !important;
}

.p-b-135 {
  padding-bottom: 135px !important;
}

.p-b-140 {
  padding-bottom: 140px !important;
}

.p-b-145 {
  padding-bottom: 145px !important;
}

.p-b-150 {
  padding-bottom: 150px !important;
}

/* ------------------------------------------ */
/* - padding left --------------------------- */
/* ------------------------------------------ */
.p-l-0 {
  padding-left: 0px !important;
}

.p-l-5 {
  padding-left: 5px !important;
}

.p-l-10 {
  padding-left: 10px !important;
}

.p-l-15 {
  padding-left: 15px !important;
}

.p-l-20 {
  padding-left: 20px !important;
}

.p-l-25 {
  padding-left: 25px !important;
}

.p-l-30 {
  padding-left: 30px !important;
}

.p-l-35 {
  padding-left: 35px !important;
}

.p-l-40 {
  padding-left: 40px !important;
}

.p-l-45 {
  padding-left: 45px !important;
}

.p-l-50 {
  padding-left: 50px !important;
}

.p-l-55 {
  padding-left: 55px !important;
}

.p-l-60 {
  padding-left: 60px !important;
}

.p-l-65 {
  padding-left: 65px !important;
}

.p-l-70 {
  padding-left: 70px !important;
}

.p-l-75 {
  padding-left: 75px !important;
}

.p-l-80 {
  padding-left: 80px !important;
}

.p-l-85 {
  padding-left: 85px !important;
}

.p-l-90 {
  padding-left: 90px !important;
}

.p-l-95 {
  padding-left: 95px !important;
}

.p-l-100 {
  padding-left: 100px !important;
}

.p-l-105 {
  padding-left: 105px !important;
}

.p-l-110 {
  padding-left: 110px !important;
}

.p-l-115 {
  padding-left: 115px !important;
}

.p-l-120 {
  padding-left: 120px !important;
}

.p-l-125 {
  padding-left: 125px !important;
}

.p-l-130 {
  padding-left: 130px !important;
}

.p-l-135 {
  padding-left: 135px !important;
}

.p-l-140 {
  padding-left: 140px !important;
}

.p-l-145 {
  padding-left: 145px !important;
}

.p-l-150 {
  padding-left: 150px !important;
}

/* ------------------------------------------ */
/* - padding right -------------------------- */
/* ------------------------------------------ */
.p-r-0 {
  padding-right: 0px !important;
}

.p-r-5 {
  padding-right: 5px !important;
}

.p-r-10 {
  padding-right: 10px !important;
}

.p-r-15 {
  padding-right: 15px !important;
}

.p-r-20 {
  padding-right: 20px !important;
}

.p-r-25 {
  padding-right: 25px !important;
}

.p-r-30 {
  padding-right: 30px !important;
}

.p-r-35 {
  padding-right: 35px !important;
}

.p-r-40 {
  padding-right: 40px !important;
}

.p-r-45 {
  padding-right: 45px !important;
}

.p-r-50 {
  padding-right: 50px !important;
}

.p-r-55 {
  padding-right: 55px !important;
}

.p-r-60 {
  padding-right: 60px !important;
}

.p-r-65 {
  padding-right: 65px !important;
}

.p-r-70 {
  padding-right: 70px !important;
}

.p-r-75 {
  padding-right: 75px !important;
}

.p-r-80 {
  padding-right: 80px !important;
}

.p-r-85 {
  padding-right: 85px !important;
}

.p-r-90 {
  padding-right: 90px !important;
}

.p-r-95 {
  padding-right: 95px !important;
}

.p-r-100 {
  padding-right: 100px !important;
}

.p-r-105 {
  padding-right: 105px !important;
}

.p-r-110 {
  padding-right: 110px !important;
}

.p-r-115 {
  padding-right: 115px !important;
}

.p-r-120 {
  padding-right: 120px !important;
}

.p-r-125 {
  padding-right: 125px !important;
}

.p-r-130 {
  padding-right: 130px !important;
}

.p-r-135 {
  padding-right: 135px !important;
}

.p-r-140 {
  padding-right: 140px !important;
}

.p-r-145 {
  padding-right: 145px !important;
}

.p-r-150 {
  padding-right: 150px !important;
}

/* ------------------------------------------ */
/* - padding horizontal---------------------- */
.p-x-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.p-x-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.p-x-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.p-x-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.p-x-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.p-x-25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.p-x-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.p-x-35 {
  padding-left: 35px !important;
  padding-right: 35px !important;
}

.p-x-40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.p-x-45 {
  padding-left: 45px !important;
  padding-right: 45px !important;
}

.p-x-50 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.p-x-55 {
  padding-left: 55px !important;
  padding-right: 55px !important;
}

.p-x-60 {
  padding-left: 60px !important;
  padding-right: 60px !important;
}

.p-x-65 {
  padding-left: 65px !important;
  padding-right: 65px !important;
}

.p-x-70 {
  padding-left: 70px !important;
  padding-right: 70px !important;
}

.p-x-75 {
  padding-left: 75px !important;
  padding-right: 75px !important;
}

.p-x-80 {
  padding-left: 80px !important;
  padding-right: 80px !important;
}

.p-x-85 {
  padding-left: 85px !important;
  padding-right: 85px !important;
}

.p-x-90 {
  padding-left: 90px !important;
  padding-right: 90px !important;
}

.p-x-95 {
  padding-left: 95px !important;
  padding-right: 95px !important;
}

.p-x-100 {
  padding-left: 100px !important;
  padding-right: 100px !important;
}

.p-x-105 {
  padding-left: 105px !important;
  padding-right: 105px !important;
}

.p-x-110 {
  padding-left: 110px !important;
  padding-right: 110px !important;
}

.p-x-115 {
  padding-left: 115px !important;
  padding-right: 115px !important;
}

.p-x-120 {
  padding-left: 120px !important;
  padding-right: 120px !important;
}

.p-x-125 {
  padding-left: 125px !important;
  padding-right: 125px !important;
}

.p-x-130 {
  padding-left: 130px !important;
  padding-right: 130px !important;
}

.p-x-135 {
  padding-left: 135px !important;
  padding-right: 135px !important;
}

.p-x-140 {
  padding-left: 140px !important;
  padding-right: 140px !important;
}

.p-x-145 {
  padding-left: 145px !important;
  padding-right: 145px !important;
}

.p-x-150 {
  padding-left: 150px !important;
  padding-right: 150px !important;
}

/* ------------------------------------------ */
/* - padding vertical ----------------------- */
/* ------------------------------------------ */
.p-y-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.p-y-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.p-y-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.p-y-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.p-y-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.p-y-25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.p-y-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.p-y-35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

.p-y-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.p-y-45 {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
}

.p-y-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.p-y-55 {
  padding-top: 55px !important;
  padding-bottom: 55px !important;
}

.p-y-60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.p-y-65 {
  padding-top: 65px !important;
  padding-bottom: 65px !important;
}

.p-y-70 {
  padding-top: 70px !important;
  padding-bottom: 70px !important;
}

.p-y-75 {
  padding-top: 75px !important;
  padding-bottom: 75px !important;
}

.p-y-80 {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}

.p-y-85 {
  padding-top: 85px !important;
  padding-bottom: 85px !important;
}

.p-y-90 {
  padding-top: 90px !important;
  padding-bottom: 90px !important;
}

.p-y-95 {
  padding-top: 95px !important;
  padding-bottom: 95px !important;
}

.p-y-100 {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

.p-y-105 {
  padding-top: 105px !important;
  padding-bottom: 105px !important;
}

.p-y-110 {
  padding-top: 110px !important;
  padding-bottom: 110px !important;
}

.p-y-115 {
  padding-top: 115px !important;
  padding-bottom: 115px !important;
}

.p-y-120 {
  padding-top: 120px !important;
  padding-bottom: 120px !important;
}

.p-y-125 {
  padding-top: 125px !important;
  padding-bottom: 125px !important;
}

.p-y-130 {
  padding-top: 130px !important;
  padding-bottom: 130px !important;
}

.p-y-135 {
  padding-top: 135px !important;
  padding-bottom: 135px !important;
}

.p-y-140 {
  padding-top: 140px !important;
  padding-bottom: 140px !important;
}

.p-y-145 {
  padding-top: 145px !important;
  padding-bottom: 145px !important;
}

.p-y-150 {
  padding-top: 150px !important;
  padding-bottom: 150px !important;
}

/* ------------------------------------------ */
/* - margin --------------------------------- */
/* ------------------------------------------ */
.m-0 {
  margin: 0px !important;
}

.m-5 {
  margin: 5px !important;
}

.m-10 {
  margin: 10px !important;
}

.m-15 {
  margin: 15px !important;
}

.m-20 {
  margin: 20px !important;
}

.m-25 {
  margin: 25px !important;
}

.m-30 {
  margin: 30px !important;
}

.m-35 {
  margin: 35px !important;
}

.m-40 {
  margin: 40px !important;
}

.m-45 {
  margin: 45px !important;
}

.m-50 {
  margin: 50px !important;
}

.m-55 {
  margin: 55px !important;
}

.m-60 {
  margin: 60px !important;
}

.m-65 {
  margin: 65px !important;
}

.m-70 {
  margin: 70px !important;
}

.m-75 {
  margin: 75px !important;
}

.m-80 {
  margin: 80px !important;
}

.m-85 {
  margin: 85px !important;
}

.m-90 {
  margin: 90px !important;
}

.m-95 {
  margin: 95px !important;
}

.m-100 {
  margin: 100px !important;
}

.m-105 {
  margin: 105px !important;
}

.m-110 {
  margin: 110px !important;
}

.m-115 {
  margin: 115px !important;
}

.m-120 {
  margin: 120px !important;
}

.m-125 {
  margin: 125px !important;
}

.m-130 {
  margin: 130px !important;
}

.m-135 {
  margin: 135px !important;
}

.m-140 {
  margin: 140px !important;
}

.m-145 {
  margin: 145px !important;
}

.m-150 {
  margin: 150px !important;
}

/* ------------------------------------------ */
/* - margin top ----------------------------- */
/* ------------------------------------------ */
.m-t-0 {
  margin-top: 0px !important;
}

.m-t-5 {
  margin-top: 5px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-t-15 {
  margin-top: 15px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-t-25 {
  margin-top: 25px !important;
}

.m-t-30 {
  margin-top: 30px !important;
}

.m-t-35 {
  margin-top: 35px !important;
}

.m-t-40 {
  margin-top: 40px !important;
}

.m-t-45 {
  margin-top: 45px !important;
}

.m-t-50 {
  margin-top: 50px !important;
}

.m-t-55 {
  margin-top: 55px !important;
}

.m-t-60 {
  margin-top: 60px !important;
}

.m-t-65 {
  margin-top: 65px !important;
}

.m-t-70 {
  margin-top: 70px !important;
}

.m-t-75 {
  margin-top: 75px !important;
}

.m-t-80 {
  margin-top: 80px !important;
}

.m-t-85 {
  margin-top: 85px !important;
}

.m-t-90 {
  margin-top: 90px !important;
}

.m-t-95 {
  margin-top: 95px !important;
}

.m-t-100 {
  margin-top: 100px !important;
}

.m-t-105 {
  margin-top: 105px !important;
}

.m-t-110 {
  margin-top: 110px !important;
}

.m-t-115 {
  margin-top: 115px !important;
}

.m-t-120 {
  margin-top: 120px !important;
}

.m-t-125 {
  margin-top: 125px !important;
}

.m-t-130 {
  margin-top: 130px !important;
}

.m-t-135 {
  margin-top: 135px !important;
}

.m-t-140 {
  margin-top: 140px !important;
}

.m-t-145 {
  margin-top: 145px !important;
}

.m-t-150 {
  margin-top: 150px !important;
}

/* ------------------------------------------ */
/* - margin bottom -------------------------- */
/* ------------------------------------------ */
.m-b-0 {
  margin-bottom: 0px !important;
}

.m-b-5 {
  margin-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-b-15 {
  margin-bottom: 15px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-b-25 {
  margin-bottom: 25px !important;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

.m-b-35 {
  margin-bottom: 35px !important;
}

.m-b-40 {
  margin-bottom: 40px !important;
}

.m-b-45 {
  margin-bottom: 45px !important;
}

.m-b-50 {
  margin-bottom: 50px !important;
}

.m-b-55 {
  margin-bottom: 55px !important;
}

.m-b-60 {
  margin-bottom: 60px !important;
}

.m-b-65 {
  margin-bottom: 65px !important;
}

.m-b-70 {
  margin-bottom: 70px !important;
}

.m-b-75 {
  margin-bottom: 75px !important;
}

.m-b-80 {
  margin-bottom: 80px !important;
}

.m-b-85 {
  margin-bottom: 85px !important;
}

.m-b-90 {
  margin-bottom: 90px !important;
}

.m-b-95 {
  margin-bottom: 95px !important;
}

.m-b-100 {
  margin-bottom: 100px !important;
}

.m-b-105 {
  margin-bottom: 105px !important;
}

.m-b-110 {
  margin-bottom: 110px !important;
}

.m-b-115 {
  margin-bottom: 115px !important;
}

.m-b-120 {
  margin-bottom: 120px !important;
}

.m-b-125 {
  margin-bottom: 125px !important;
}

.m-b-130 {
  margin-bottom: 130px !important;
}

.m-b-135 {
  margin-bottom: 135px !important;
}

.m-b-140 {
  margin-bottom: 140px !important;
}

.m-b-145 {
  margin-bottom: 145px !important;
}

.m-b-150 {
  margin-bottom: 150px !important;
}

/* ------------------------------------------ */
/* - margin left ---------------------------- */
/* ------------------------------------------ */
.m-l-0 {
  margin-left: 0px !important;
}

.m-l-5 {
  margin-left: 5px !important;
}

.m-l-10 {
  margin-left: 10px !important;
}

.m-l-15 {
  margin-left: 15px !important;
}

.m-l-20 {
  margin-left: 20px !important;
}

.m-l-25 {
  margin-left: 25px !important;
}

.m-l-30 {
  margin-left: 30px !important;
}

.m-l-35 {
  margin-left: 35px !important;
}

.m-l-40 {
  margin-left: 40px !important;
}

.m-l-45 {
  margin-left: 45px !important;
}

.m-l-50 {
  margin-left: 50px !important;
}

.m-l-55 {
  margin-left: 55px !important;
}

.m-l-60 {
  margin-left: 60px !important;
}

.m-l-65 {
  margin-left: 65px !important;
}

.m-l-70 {
  margin-left: 70px !important;
}

.m-l-75 {
  margin-left: 75px !important;
}

.m-l-80 {
  margin-left: 80px !important;
}

.m-l-85 {
  margin-left: 85px !important;
}

.m-l-90 {
  margin-left: 90px !important;
}

.m-l-95 {
  margin-left: 95px !important;
}

.m-l-100 {
  margin-left: 100px !important;
}

.m-l-105 {
  margin-left: 105px !important;
}

.m-l-110 {
  margin-left: 110px !important;
}

.m-l-115 {
  margin-left: 115px !important;
}

.m-l-120 {
  margin-left: 120px !important;
}

.m-l-125 {
  margin-left: 125px !important;
}

.m-l-130 {
  margin-left: 130px !important;
}

.m-l-135 {
  margin-left: 135px !important;
}

.m-l-140 {
  margin-left: 140px !important;
}

.m-l-145 {
  margin-left: 145px !important;
}

.m-l-150 {
  margin-left: 150px !important;
}

/* ------------------------------------------ */
/* - margin right --------------------------- */
/* ------------------------------------------ */
.m-r-0 {
  margin-right: 0px !important;
}

.m-r-5 {
  margin-right: 5px !important;
}

.m-r-10 {
  margin-right: 10px !important;
}

.m-r-15 {
  margin-right: 15px !important;
}

.m-r-20 {
  margin-right: 20px !important;
}

.m-r-25 {
  margin-right: 25px !important;
}

.m-r-30 {
  margin-right: 30px !important;
}

.m-r-35 {
  margin-right: 35px !important;
}

.m-r-40 {
  margin-right: 40px !important;
}

.m-r-45 {
  margin-right: 45px !important;
}

.m-r-50 {
  margin-right: 50px !important;
}

.m-r-55 {
  margin-right: 55px !important;
}

.m-r-60 {
  margin-right: 60px !important;
}

.m-r-65 {
  margin-right: 65px !important;
}

.m-r-70 {
  margin-right: 70px !important;
}

.m-r-75 {
  margin-right: 75px !important;
}

.m-r-80 {
  margin-right: 80px !important;
}

.m-r-85 {
  margin-right: 85px !important;
}

.m-r-90 {
  margin-right: 90px !important;
}

.m-r-95 {
  margin-right: 95px !important;
}

.m-r-100 {
  margin-right: 100px !important;
}

.m-r-105 {
  margin-right: 105px !important;
}

.m-r-110 {
  margin-right: 110px !important;
}

.m-r-115 {
  margin-right: 115px !important;
}

.m-r-120 {
  margin-right: 120px !important;
}

.m-r-125 {
  margin-right: 125px !important;
}

.m-r-130 {
  margin-right: 130px !important;
}

.m-r-135 {
  margin-right: 135px !important;
}

.m-r-140 {
  margin-right: 140px !important;
}

.m-r-145 {
  margin-right: 145px !important;
}

.m-r-150 {
  margin-right: 150px !important;
}

/* ------------------------------------------ */
/* - margin horizontal ---------------------- */
/* ------------------------------------------ */
.m-x-0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.m-x-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.m-x-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.m-x-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.m-x-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.m-x-25 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.m-x-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.m-x-35 {
  margin-left: 35px !important;
  margin-right: 35px !important;
}

.m-x-40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.m-x-45 {
  margin-left: 45px !important;
  margin-right: 45px !important;
}

.m-x-50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.m-x-55 {
  margin-left: 55px !important;
  margin-right: 55px !important;
}

.m-x-60 {
  margin-left: 60px !important;
  margin-right: 60px !important;
}

.m-x-65 {
  margin-left: 65px !important;
  margin-right: 65px !important;
}

.m-x-70 {
  margin-left: 70px !important;
  margin-right: 70px !important;
}

.m-x-75 {
  margin-left: 75px !important;
  margin-right: 75px !important;
}

.m-x-80 {
  margin-left: 80px !important;
  margin-right: 80px !important;
}

.m-x-85 {
  margin-left: 85px !important;
  margin-right: 85px !important;
}

.m-x-90 {
  margin-left: 90px !important;
  margin-right: 90px !important;
}

.m-x-95 {
  margin-left: 95px !important;
  margin-right: 95px !important;
}

.m-x-100 {
  margin-left: 100px !important;
  margin-right: 100px !important;
}

.m-x-105 {
  margin-left: 105px !important;
  margin-right: 105px !important;
}

.m-x-110 {
  margin-left: 110px !important;
  margin-right: 110px !important;
}

.m-x-115 {
  margin-left: 115px !important;
  margin-right: 115px !important;
}

.m-x-120 {
  margin-left: 120px !important;
  margin-right: 120px !important;
}

.m-x-125 {
  margin-left: 125px !important;
  margin-right: 125px !important;
}

.m-x-130 {
  margin-left: 130px !important;
  margin-right: 130px !important;
}

.m-x-135 {
  margin-left: 135px !important;
  margin-right: 135px !important;
}

.m-x-140 {
  margin-left: 140px !important;
  margin-right: 140px !important;
}

.m-x-145 {
  margin-left: 145px !important;
  margin-right: 145px !important;
}

.m-x-150 {
  margin-left: 150px !important;
  margin-right: 150px !important;
}

/* ------------------------------------------ */
/* - margin vertical ------------------------ */
/* ------------------------------------------ */
.m-y-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.m-y-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.m-y-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.m-y-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.m-y-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.m-y-25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.m-y-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.m-y-35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}

.m-y-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.m-y-45 {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}

.m-y-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.m-y-55 {
  margin-top: 55px !important;
  margin-bottom: 55px !important;
}

.m-y-60 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

.m-y-65 {
  margin-top: 65px !important;
  margin-bottom: 65px !important;
}

.m-y-70 {
  margin-top: 70px !important;
  margin-bottom: 70px !important;
}

.m-y-75 {
  margin-top: 75px !important;
  margin-bottom: 75px !important;
}

.m-y-80 {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}

.m-y-85 {
  margin-top: 85px !important;
  margin-bottom: 85px !important;
}

.m-y-90 {
  margin-top: 90px !important;
  margin-bottom: 90px !important;
}

.m-y-95 {
  margin-top: 95px !important;
  margin-bottom: 95px !important;
}

.m-y-100 {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}

.m-y-105 {
  margin-top: 105px !important;
  margin-bottom: 105px !important;
}

.m-y-110 {
  margin-top: 110px !important;
  margin-bottom: 110px !important;
}

.m-y-115 {
  margin-top: 115px !important;
  margin-bottom: 115px !important;
}

.m-y-120 {
  margin-top: 120px !important;
  margin-bottom: 120px !important;
}

.m-y-125 {
  margin-top: 125px !important;
  margin-bottom: 125px !important;
}

.m-y-130 {
  margin-top: 130px !important;
  margin-bottom: 130px !important;
}

.m-y-135 {
  margin-top: 135px !important;
  margin-bottom: 135px !important;
}

.m-y-140 {
  margin-top: 140px !important;
  margin-bottom: 140px !important;
}

.m-y-145 {
  margin-top: 145px !important;
  margin-bottom: 145px !important;
}

.m-y-150 {
  margin-top: 150px !important;
  margin-bottom: 150px !important;
}

/* ------------------------------------------ */
/* - relative to the parent ----------------- */
/* - width ---------------------------------- */
/* ------------------------------------------ */
.w-5 {
  width: 5% !important;
}

.w-10 {
  width: 10% !important;
}

.w-15 {
  width: 15% !important;
}

.w-20 {
  width: 20% !important;
}

.w-25 {
  width: 25% !important;
}

.w-30 {
  width: 30% !important;
}

.w-35 {
  width: 35% !important;
}

.w-40 {
  width: 40% !important;
}

.w-45 {
  width: 45% !important;
}

.w-50 {
  width: 50% !important;
}

.w-55 {
  width: 55% !important;
}

.w-60 {
  width: 60% !important;
}

.w-65 {
  width: 65% !important;
}

.w-70 {
  width: 70% !important;
}

.w-75 {
  width: 75% !important;
}

.w-80 {
  width: 80% !important;
}

.w-85 {
  width: 85% !important;
}

.w-90 {
  width: 90% !important;
}

.w-95 {
  width: 95% !important;
}

.w-100 {
  width: 100% !important;
}

/* ------------------------------------------ */
/* - min width ------------------------------ */
/* ------------------------------------------ */
.min-w-5 {
  min-width: 5% !important;
}

.min-w-10 {
  min-width: 10% !important;
}

.min-w-15 {
  min-width: 15% !important;
}

.min-w-20 {
  min-width: 20% !important;
}

.min-w-25 {
  min-width: 25% !important;
}

.min-w-30 {
  min-width: 30% !important;
}

.min-w-35 {
  min-width: 35% !important;
}

.min-w-40 {
  min-width: 40% !important;
}

.min-w-45 {
  min-width: 45% !important;
}

.min-w-50 {
  min-width: 50% !important;
}

.min-w-55 {
  min-width: 55% !important;
}

.min-w-60 {
  min-width: 60% !important;
}

.min-w-65 {
  min-width: 65% !important;
}

.min-w-70 {
  min-width: 70% !important;
}

.min-w-75 {
  min-width: 75% !important;
}

.min-w-80 {
  min-width: 80% !important;
}

.min-w-85 {
  min-width: 85% !important;
}

.min-w-90 {
  min-width: 90% !important;
}

.min-w-95 {
  min-width: 95% !important;
}

.min-w-100 {
  min-width: 100% !important;
}

/* ------------------------------------------ */
/* - max width ------------------------------ */
/* ------------------------------------------ */
.max-w-5 {
  max-width: 5% !important;
}

.max-w-10 {
  max-width: 10% !important;
}

.max-w-15 {
  max-width: 15% !important;
}

.max-w-20 {
  max-width: 20% !important;
}

.max-w-25 {
  max-width: 25% !important;
}

.max-w-30 {
  max-width: 30% !important;
}

.max-w-35 {
  max-width: 35% !important;
}

.max-w-40 {
  max-width: 40% !important;
}

.max-w-45 {
  max-width: 45% !important;
}

.max-w-50 {
  max-width: 50% !important;
}

.max-w-55 {
  max-width: 55% !important;
}

.max-w-60 {
  max-width: 60% !important;
}

.max-w-65 {
  max-width: 65% !important;
}

.max-w-70 {
  max-width: 70% !important;
}

.max-w-75 {
  max-width: 75% !important;
}

.max-w-80 {
  max-width: 80% !important;
}

.max-w-85 {
  max-width: 85% !important;
}

.max-w-90 {
  max-width: 90% !important;
}

.max-w-95 {
  max-width: 95% !important;
}

.max-w-100 {
  max-width: 100% !important;
}

/* ------------------------------------------ */
/* - height --------------------------------- */
/* ------------------------------------------ */
.h-5 {
  height: 5% !important;
}

.h-10 {
  height: 10% !important;
}

.h-15 {
  height: 15% !important;
}

.h-20 {
  height: 20% !important;
}

.h-25 {
  height: 25% !important;
}

.h-30 {
  height: 30% !important;
}

.h-35 {
  height: 35% !important;
}

.h-40 {
  height: 40% !important;
}

.h-45 {
  height: 45% !important;
}

.h-50 {
  height: 50% !important;
}

.h-55 {
  height: 55% !important;
}

.h-60 {
  height: 60% !important;
}

.h-65 {
  height: 65% !important;
}

.h-70 {
  height: 70% !important;
}

.h-75 {
  height: 75% !important;
}

.h-80 {
  height: 80% !important;
}

.h-85 {
  height: 85% !important;
}

.h-90 {
  height: 90% !important;
}

.h-95 {
  height: 95% !important;
}

.h-100 {
  height: 100% !important;
}

/* ------------------------------------------ */
/* - min height ----------------------------- */
/* ------------------------------------------ */
.min-h-5 {
  min-height: 5% !important;
}

.min-h-10 {
  min-height: 10% !important;
}

.min-h-15 {
  min-height: 15% !important;
}

.min-h-20 {
  min-height: 20% !important;
}

.min-h-25 {
  min-height: 25% !important;
}

.min-h-30 {
  min-height: 30% !important;
}

.min-h-35 {
  min-height: 35% !important;
}

.min-h-40 {
  min-height: 40% !important;
}

.min-h-45 {
  min-height: 45% !important;
}

.min-h-50 {
  min-height: 50% !important;
}

.min-h-55 {
  min-height: 55% !important;
}

.min-h-60 {
  min-height: 60% !important;
}

.min-h-65 {
  min-height: 65% !important;
}

.min-h-70 {
  min-height: 70% !important;
}

.min-h-75 {
  min-height: 75% !important;
}

.min-h-80 {
  min-height: 80% !important;
}

.min-h-85 {
  min-height: 85% !important;
}

.min-h-90 {
  min-height: 90% !important;
}

.min-h-95 {
  min-height: 95% !important;
}

.min-h-100 {
  min-height: 100% !important;
}

/* ------------------------------------------ */
/* - max height ----------------------------- */
/* ------------------------------------------ */
.max-h-5 {
  max-height: 5% !important;
}

.max-h-10 {
  max-height: 10% !important;
}

.max-h-15 {
  max-height: 15% !important;
}

.max-h-20 {
  max-height: 20% !important;
}

.max-h-25 {
  max-height: 25% !important;
}

.max-h-30 {
  max-height: 30% !important;
}

.max-h-35 {
  max-height: 35% !important;
}

.max-h-40 {
  max-height: 40% !important;
}

.max-h-45 {
  max-height: 45% !important;
}

.max-h-50 {
  max-height: 50% !important;
}

.max-h-55 {
  max-height: 55% !important;
}

.max-h-60 {
  max-height: 60% !important;
}

.max-h-65 {
  max-height: 65% !important;
}

.max-h-70 {
  max-height: 70% !important;
}

.max-h-75 {
  max-height: 75% !important;
}

.max-h-80 {
  max-height: 80% !important;
}

.max-h-85 {
  max-height: 85% !important;
}

.max-h-90 {
  max-height: 90% !important;
}

.max-h-95 {
  max-height: 95% !important;
}

.max-h-100 {
  max-height: 100% !important;
}

/* ------------------------------------------ */
/* ------------------------------------------ */
/* - Relative to the viewport --------------- */
/* - vh width ------------------------------- */
/* ------------------------------------------ */
.vw-5 {
  width: 5vw !important;
}

.vw-10 {
  width: 10vw !important;
}

.vw-15 {
  width: 15vw !important;
}

.vw-20 {
  width: 20vw !important;
}

.vw-25 {
  width: 25vw !important;
}

.vw-30 {
  width: 30vw !important;
}

.vw-35 {
  width: 35vw !important;
}

.vw-40 {
  width: 40vw !important;
}

.vw-45 {
  width: 45vw !important;
}

.vw-50 {
  width: 50vw !important;
}

.vw-55 {
  width: 55vw !important;
}

.vw-60 {
  width: 60vw !important;
}

.vw-65 {
  width: 65vw !important;
}

.vw-70 {
  width: 70vw !important;
}

.vw-75 {
  width: 75vw !important;
}

.vw-80 {
  width: 80vw !important;
}

.vw-85 {
  width: 85vw !important;
}

.vw-90 {
  width: 90vw !important;
}

.vw-95 {
  width: 95vw !important;
}

.vw-100 {
  width: 100vw !important;
}

/* ------------------------------------------ */
/* - min vh width --------------------------- */
/* ------------------------------------------ */
.min-vw-5 {
  min-width: 5vw !important;
}

.min-vw-10 {
  min-width: 10vw !important;
}

.min-vw-15 {
  min-width: 15vw !important;
}

.min-vw-20 {
  min-width: 20vw !important;
}

.min-vw-25 {
  min-width: 25vw !important;
}

.min-vw-30 {
  min-width: 30vw !important;
}

.min-vw-35 {
  min-width: 35vw !important;
}

.min-vw-40 {
  min-width: 40vw !important;
}

.min-vw-45 {
  min-width: 45vw !important;
}

.min-vw-50 {
  min-width: 50vw !important;
}

.min-vw-55 {
  min-width: 55vw !important;
}

.min-vw-60 {
  min-width: 60vw !important;
}

.min-vw-65 {
  min-width: 65vw !important;
}

.min-vw-70 {
  min-width: 70vw !important;
}

.min-vw-75 {
  min-width: 75vw !important;
}

.min-vw-80 {
  min-width: 80vw !important;
}

.min-vw-85 {
  min-width: 85vw !important;
}

.min-vw-90 {
  min-width: 90vw !important;
}

.min-vw-95 {
  min-width: 95vw !important;
}

.min-vw-100 {
  min-width: 100vw !important;
}

/* ------------------------------------------ */
/* - max vh width --------------------------- */
/* ------------------------------------------ */
.max-vw-5 {
  max-width: 5vw !important;
}

.max-vw-10 {
  max-width: 10vw !important;
}

.max-vw-15 {
  max-width: 15vw !important;
}

.max-vw-20 {
  max-width: 20vw !important;
}

.max-vw-25 {
  max-width: 25vw !important;
}

.max-vw-30 {
  max-width: 30vw !important;
}

.max-vw-35 {
  max-width: 35vw !important;
}

.max-vw-40 {
  max-width: 40vw !important;
}

.max-vw-45 {
  max-width: 45vw !important;
}

.max-vw-50 {
  max-width: 50vw !important;
}

.max-vw-55 {
  max-width: 55vw !important;
}

.max-vw-60 {
  max-width: 60vw !important;
}

.max-vw-65 {
  max-width: 65vw !important;
}

.max-vw-70 {
  max-width: 70vw !important;
}

.max-vw-75 {
  max-width: 75vw !important;
}

.max-vw-80 {
  max-width: 80vw !important;
}

.max-vw-85 {
  max-width: 85vw !important;
}

.max-vw-90 {
  max-width: 90vw !important;
}

.max-vw-95 {
  max-width: 95vw !important;
}

.max-vw-100 {
  max-width: 100vw !important;
}

/* ------------------------------------------ */
/* - height --------------------------------- */
/* ------------------------------------------ */
.vh-5 {
  height: 5vw !important;
}

.vh-10 {
  height: 10vw !important;
}

.vh-15 {
  height: 15vw !important;
}

.vh-20 {
  height: 20vw !important;
}

.vh-25 {
  height: 25vw !important;
}

.vh-30 {
  height: 30vw !important;
}

.vh-35 {
  height: 35vw !important;
}

.vh-40 {
  height: 40vw !important;
}

.vh-45 {
  height: 45vw !important;
}

.vh-50 {
  height: 50vw !important;
}

.vh-55 {
  height: 55vw !important;
}

.vh-60 {
  height: 60vw !important;
}

.vh-65 {
  height: 65vw !important;
}

.vh-70 {
  height: 70vw !important;
}

.vh-75 {
  height: 75vw !important;
}

.vh-80 {
  height: 80vw !important;
}

.vh-85 {
  height: 85vw !important;
}

.vh-90 {
  height: 90vw !important;
}

.vh-95 {
  height: 95vw !important;
}

.vh-100 {
  height: 100vw !important;
}

/* ------------------------------------------ */
/* - min height ----------------------------- */
/* ------------------------------------------ */
.min-vh-5 {
  min-height: 5vh !important;
}

.min-vh-10 {
  min-height: 10vh !important;
}

.min-vh-15 {
  min-height: 15vh !important;
}

.min-vh-20 {
  min-height: 20vh !important;
}

.min-vh-25 {
  min-height: 25vh !important;
}

.min-vh-30 {
  min-height: 30vh !important;
}

.min-vh-35 {
  min-height: 35vh !important;
}

.min-vh-40 {
  min-height: 40vh !important;
}

.min-vh-45 {
  min-height: 45vh !important;
}

.min-vh-50 {
  min-height: 50vh !important;
}

.min-vh-55 {
  min-height: 55vh !important;
}

.min-vh-60 {
  min-height: 60vh !important;
}

.min-vh-65 {
  min-height: 65vh !important;
}

.min-vh-70 {
  min-height: 70vh !important;
}

.min-vh-75 {
  min-height: 75vh !important;
}

.min-vh-80 {
  min-height: 80vh !important;
}

.min-vh-85 {
  min-height: 85vh !important;
}

.min-vh-90 {
  min-height: 90vh !important;
}

.min-vh-95 {
  min-height: 95vh !important;
}

.min-vh-100 {
  min-height: 100vh !important;
}

/* - max height ----------------------------- */
/* ------------------------------------------ */
.max-vh-5 {
  max-height: 5vh !important;
}

.max-vh-10 {
  max-height: 10vh !important;
}

.max-vh-15 {
  max-height: 15vh !important;
}

.max-vh-20 {
  max-height: 20vh !important;
}

.max-vh-25 {
  max-height: 25vh !important;
}

.max-vh-30 {
  max-height: 30vh !important;
}

.max-vh-35 {
  max-height: 35vh !important;
}

.max-vh-40 {
  max-height: 40vh !important;
}

.max-vh-45 {
  max-height: 45vh !important;
}

.max-vh-50 {
  max-height: 50vh !important;
}

.max-vh-55 {
  max-height: 55vh !important;
}

.max-vh-60 {
  max-height: 60vh !important;
}

.max-vh-65 {
  max-height: 65vh !important;
}

.max-vh-70 {
  max-height: 70vh !important;
}

.max-vh-75 {
  max-height: 75vh !important;
}

.max-vh-80 {
  max-height: 80vh !important;
}

.max-vh-85 {
  max-height: 85vh !important;
}

.max-vh-90 {
  max-height: 90vh !important;
}

.max-vh-95 {
  max-height: 95vh !important;
}

.max-vh-100 {
  max-height: 100vh !important;
}

/* ------------------------------------------ */
