// --------------------------------------------
// - utilities --------------------------------
// --------------------------------------------

/* ------------------------------------------ */
/* - padding -------------------------------- */
/* ------------------------------------------ */
@for $i from 0 through 30{
    $m: 5;
	$p: ($m * $i)px;
    $p_label: ($m) * $i;

    .p-#{$p_label} { 
        padding: $p !important;
    }
}
/* ------------------------------------------ */
/* - padding top ---------------------------- */
/* ------------------------------------------ */
@for $i from 0 through 30{
    $m: 5;
    $p: ($m * $i)px;
    $p_label: 5 * $i;

    .p-t-#{$p_label} { 
        padding-top: $p !important;
    }
}
/* ------------------------------------------ */
/* - padding bottom ------------------------- */
/* ------------------------------------------ */
@for $i from 0 through 30{
    $p: 5px * $i;
    $p_label: 5 * $i;
    .p-b-#{$p_label} {
        padding-bottom: $p !important;
    }
}
/* ------------------------------------------ */
/* - padding left --------------------------- */
/* ------------------------------------------ */
@for $i from 0 through 30{
    $p: 5px * $i;
    $p_label: 5 * $i;

    .p-l-#{$p_label} { 
        padding-left: $p !important;
    }
}
/* ------------------------------------------ */
/* - padding right -------------------------- */
/* ------------------------------------------ */
@for $i from 0 through 30{
    $p: 5px * $i;
    $p_label: 5 * $i;

    .p-r-#{$p_label} { 
        padding-right: $p !important;
    }
}
/* ------------------------------------------ */
/* - padding horizontal---------------------- */
@for $i from 0 through 30{
    $p: 5px * $i;
    $p_label: 5 * $i;
    
    .p-x-#{$p_label} {
        padding-left: $p !important;
        padding-right: $p !important
    }
}
/* ------------------------------------------ */
/* - padding vertical ----------------------- */
/* ------------------------------------------ */
@for $i from 0 through 30{
    $p: 5px * $i;
    $p_label: 5 * $i;

    
    .p-y-#{$p_label} {
        padding-top: $p !important;
        padding-bottom: $p !important
    }
}

/* ------------------------------------------ */
/* - margin --------------------------------- */
/* ------------------------------------------ */
@for $i from 0 through 30{
    $m: 5px * $i;
    $m_label: 5 * $i;

    .m-#{$m_label} {
        margin: $m !important;
    }
}
/* ------------------------------------------ */
/* - margin top ----------------------------- */
/* ------------------------------------------ */
@for $i from 0 through 30{
    $m: 5px * $i;
    $m_label: 5 * $i;
    .m-t-#{$m_label} {
        margin-top: $m !important;
    }
}
/* ------------------------------------------ */
/* - margin bottom -------------------------- */
/* ------------------------------------------ */
@for $i from 0 through 30{
    $m: 5px * $i;
    $m_label: 5 * $i;
    .m-b-#{$m_label} {
        margin-bottom: $m !important;
    }
}
/* ------------------------------------------ */
/* - margin left ---------------------------- */
/* ------------------------------------------ */
@for $i from 0 through 30{
    $m: 5px * $i;
    $m_label: 5 * $i;
    .m-l-#{$m_label} {
        margin-left: $m !important;
    }
}
/* ------------------------------------------ */
/* - margin right --------------------------- */
/* ------------------------------------------ */
@for $i from 0 through 30{
    $m: 5px * $i;
    $m_label: 5 * $i;
    .m-r-#{$m_label} {
        margin-right: $m !important;
    }
}
/* ------------------------------------------ */
/* - margin horizontal ---------------------- */
/* ------------------------------------------ */
@for $i from 0 through 30{
    $m: 5px * $i;
    $m_label: 5 * $i;

    .m-x-#{$m_label} {
        margin-left: $m !important;
        margin-right: $m !important
    }
}
/* ------------------------------------------ */
/* - margin vertical ------------------------ */
/* ------------------------------------------ */
@for $i from 0 through 30{
    $m: 5px * $i;
    $m_label: 5 * $i;

    .m-y-#{$m_label} {
        margin-top: $m !important;
        margin-bottom: $m !important
    }
}

/* ------------------------------------------ */
/* - relative to the parent ----------------- */
/* - width ---------------------------------- */
/* ------------------------------------------ */
@for $i from 1 through 20{
    $w: percentage(.05 * $i);
    $w_label: (5 * $i);
    .w-#{$w_label} {
        width: $w !important;
    }
}
/* ------------------------------------------ */
/* - min width ------------------------------ */
/* ------------------------------------------ */
@for $i from 1 through 20{
    $w: percentage(.05 * $i);
    $w_label: (5 * $i);
    .min-w-#{$w_label} {
        min-width: $w !important;
    }
}
/* ------------------------------------------ */
/* - max width ------------------------------ */
/* ------------------------------------------ */
@for $i from 1 through 20{
    $w: percentage(.05 * $i);
    $w_label: (5 * $i);
    .max-w-#{$w_label} {
        max-width: $w !important;
    }
}
/* ------------------------------------------ */
/* - height --------------------------------- */
/* ------------------------------------------ */
@for $i from 1 through 20{
    $h: percentage(.05 * $i);
    $h_label: (5 * $i);
    .h-#{$h_label} {
        height: $h !important;
    }
}
/* ------------------------------------------ */
/* - min height ----------------------------- */
/* ------------------------------------------ */
@for $i from 1 through 20{
    $h: percentage(.05 * $i);
    $h_label: (5 * $i);
    .min-h-#{$h_label} {
        min-height: $h !important;
    }
}
/* ------------------------------------------ */
/* - max height ----------------------------- */
/* ------------------------------------------ */
@for $i from 1 through 20{
    $h: percentage(.05 * $i);
    $h_label: (5 * $i);
    .max-h-#{$h_label} {
        max-height: $h !important;
    }
}
/* ------------------------------------------ */

/* ------------------------------------------ */
/* - Relative to the viewport --------------- */
/* - vh width ------------------------------- */
/* ------------------------------------------ */
@for $i from 1 through 20{
    $w: 5vw * $i;
    $w_label: 5 * $i;
    .vw-#{$w_label} {
        width: $w !important;
    }
}
/* ------------------------------------------ */
/* - min vh width --------------------------- */
/* ------------------------------------------ */
@for $i from 1 through 20{
    $w: 5vw * $i;
    $w_label: 5 * $i;
    .min-vw-#{$w_label} {
        min-width: $w !important;
    }
}
/* ------------------------------------------ */
/* - max vh width --------------------------- */
/* ------------------------------------------ */
@for $i from 1 through 20{
    $w: 5vw* $i;
    $w_label: 5 * $i;
    .max-vw-#{$w_label} {
        max-width: $w !important;
    }
}
/* ------------------------------------------ */
/* - height --------------------------------- */
/* ------------------------------------------ */
@for $i from 1 through 20{
    $h: 5vw * $i;
    $h_label: 5 * $i;
    .vh-#{$h_label} {
        height: $h !important;
    }
}
/* ------------------------------------------ */
/* - min height ----------------------------- */
/* ------------------------------------------ */
@for $i from 1 through 20{
    $h: 5vh * $i;
    $h_label: 5 * $i;
    .min-vh-#{$h_label} {
        min-height: $h !important;
    }
}
/* - max height ----------------------------- */
/* ------------------------------------------ */
@for $i from 1 through 20{
    $h: 5vh * $i;
    $h_label: 5 * $i;
    .max-vh-#{$h_label} {
        max-height: $h !important;
    }
}
/* ------------------------------------------ */
/* ------------------------------------------ */
/* - border --------------------------------- */
/* ------------------------------------------ */
/* - border width --------------------------- */
@for $i from 1 through 10{
    $value: (1px * $i);
    $label: (1 * $i);
    .border-width-#{$label} {
        border-width:$value;
    }
}
/* - border style --------------------------- */
@each $value in $border-style {
    .border-style-#{$value} {
        border-style:$value;
    }
}
/* - border color --------------------------- */
@each $name, $value  in $theme-colors {
    .border-color-#{$name} {
        border-color :$value;
    }
}
